.Box {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	flex: 1;
}
.BoxUpload {
	background: white;
	width: 65vw;
	flex: 1;
	border-radius: 50px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.CustomBox {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.CustomDuration {
	width: 280px;
	padding: 0 1rem;
}
.CustomDurationText {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-weight: 500;
}
.CustomDurationSlider {
	width: 85%;
}
.CustomSlug {
	padding: 0 3rem;
}
.CustomSlugText {
	margin-bottom: 1rem;
	font-weight: 500;
}
