.Box {
	display: flex;
	flex-direction: column;
	margin: 1rem auto;
	flex: 1;
}
.BoxUpload {
	background: white;
	width: 65vw;
	flex: 1;
	border-radius: 50px;
	padding: 3rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
}
.CustomBox {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
}
.CustomDuration {
	width: 280px;
	padding: 0 1rem;
}
.CustomDurationText {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
	font-weight: 500;
}
.CustomDurationSlider {
	width: 85%;
}
.CustomSlug {
	padding: 0 3rem;
}
.CustomSlugText {
	margin-bottom: 1rem;
	font-weight: 500;
}
.UploadButton {
	border: none;
	font-size: 0.9rem;
	width: 170px;
	height: 50px;
	margin-top: 2rem;
}

@media screen and (max-width: 768px) {
	.CustomDuration {
		width: 260px;
	}
	.CustomSlug {
		padding: 0 1rem;
	}
	.CustomSlug div[role='textbox'] {
		width: 220px;
	}
}
@media screen and (max-width: 480px) {
	.BoxUpload {
		width: calc(100% - 2.5rem);
		padding: 1.25rem;
		border-radius: 15px;
	}
	.CustomBox {
		flex-direction: column;
		font-size: 0.75rem;
	}
	.CustomDuration {
		width: calc(100% - 1.5rem);
	}
	.CustomSlug div[role='textbox'] {
		width: 180px;
	}
	.UploadButton {
		margin-top: 1rem;
		font-size: 0.75rem;
		height: 40px;
		width: 140px;
	}
	.UploadButton svg {
		width: 20px;
		height: 20px;
	}
}
