.DropZoneTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.DropZoneText {
    font-size: 1.3em;
    margin-top: 30px;
    color: #1a1a1a;
}

.Dropzone {
    width: 50vw;
    height: 50vh;
    border: 2px dashed #a4e1ef;

    background: rgba( 255, 255, 255, 0.60 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 15.0px );
    -webkit-backdrop-filter: blur( 15.0px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}