.App {
	background: linear-gradient(90deg, #f7eaf7, #e9eeff);
	width: 100vw;
	height: 100vh;
}
* {
	font-family: 'Poppins', sans-serif;
}

.ContentWrapper {
	padding: 1rem 8rem;
	display: flex;
	flex-direction: column;
	height: 85vh;
	overflow: auto;
}

@media screen and (max-width: 1024px) {
	.ContentWrapper {
		padding: 1rem 2rem 1rem 8rem;
	}
}
