.Btn {
	width: 100px;
	height: 40px;
	border: 1px solid #c4c4c4;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	line-height: 21;
	font-size: 1rem;
	margin: 0.5rem;
	cursor: pointer;
}
.Btn svg {
	margin: 0 0.5rem;
}
