body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
		'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

div[role='dialog'] {
	border-radius: 50px;
}

span[role='link'] {
	cursor: pointer;
	color: #6868ac;
}

.MuiSlider-root,
.MuiSlider-track,
.MuiSlider-rail {
	height: 8px !important;
	border-radius: 4px !important;
}
.MuiSlider-track,
.MuiSlider-thumb {
	background-color: #6868ac;
}
.MuiSlider-rail {
	background-color: rgba(48, 127, 226, 0.3);
}
.MuiSlider-thumb {
	width: 18px !important;
	height: 18px !important;
}
div[role='textbox'] {
	background-color: #fff;
	border-radius: 10px;
	height: 40px;
	width: 300px;
}
div[role='textbox'] input {
	padding: 10px 20px;
	font-size: 14px;
}
div[role='textbox'] fieldset {
	border: none;
}
