name: Test, Build, Push, Deploy

on:
  push:
    branches: 
    - main
  pull_request:
    branches: 
    - main
  workflow_dispatch:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Download dependencies
      run: go mod download
    - name: Test
      run: go test -v ./...
  build-and-push:
    name: Build, Push and Trigger Deployment
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: actions/checkout@v2
      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: thetkpark/cscms-storage
          tags: |
            type=raw,value=latest
            type=sha,format=long,prefix=
      - name: Docker Login
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Build and push Docker images
        uses: docker/build-push-action@v2.6.1
        with:
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      - name: Trigger Deployment
        uses: fjogeleit/http-request-action@v1.8.0
        if: ${{ github.event_name != 'pull_request' }}
        with:
          url: https://api.github.com/repos/thetkpark/cscms-services-deployment/dispatches
          method: POST
          data: '{"event_type": "cscms-storage"}'
          username: ${{secrets.ACCESS_TOKEN}}
